@model ShoppingCart
@if (Model != null )
{

<a href="/ShoppingCart">
                
                            <i class="fa fa-shopping-bag"></i> <span>@Model?.Items.Count</span>
                
</a>

                
}